# Node modules
node_modules/

# Environment variables
.env

# Build output
dist/
.vite/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Vite cache
client/node_modules/
client/dist/
server/node_modules/
